- @title = t('devise.registrations.new')

.jumbotron
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :first_name, required: true
      = f.input :last_name, required: true
      = f.input :date_of_birth, as: :date, start_year: Time.zone.today.year - 90, end_year: Time.zone.today.year - 12
      = f.input :place_of_birth
      = f.input :phone_number, required: true
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true, hint: (t('simple_form.hints.password', min: @minimum_password_length) if @minimum_password_length)
      = f.input :password_confirmation, required: true
      = f.input :newsletter
      %small
        Tutti i dati forniti saranno trattati nel rispetto delle disposizione del
        Codice in materia di protezione dei dati personali
        = link_to('D.lgs 193/2006', 'http://www.camera.it/parlam/leggi/deleghe/03196dl.htm', target: '_blank')
    .form-actions
      = f.button :submit, t('devise.registrations.new')
  %br/
  = render 'devise/shared/links'

= render partial: 'shared/form_html5_support'
