.col-md-4.col-sm-6.col-xs-12.text-center
  .panel.panel-default
    .panel-heading
      %strong= t("home.index.panel.#{action}.heading")
    .panel-body
      = t("home.index.panel.#{action}.body")
    .panel-footer
      %a.btn.btn-primary.gtm-home-action{ href: link, 'data-action' => action }= t('home.index.button.go')
