.col-sm-6.features-box.wow.fadeInLeft
  .row
    .col-sm-3.features-box-icon
      %i{ class: t("home.index.panel.#{action}.icon_class") }
    .col-sm-9
      %h3= t("home.index.panel.#{action}.heading")
      %p= t("home.index.panel.#{action}.body")
      %br
      = link_to(t('home.index.button.go'), link, class: 'btn btn-primary gtm-home-action', data: { action: action })
  .row
    %hr
