.jumbotron
  /%h1= t('home.index.title')

  .text-center
    %img.img-responsive{ src: asset_path('images/logo.png'), alt: 'Chei De La Coriera' }
    %hr
    .row
      - if current_user
        %p= t("home.index.body.#{current_user.status}")
      - else
        %p= t('home.index.body.not_logged', login: link_to(t('home.index.body.login'), new_user_session_path, class: 'gtm-home-action', data: { action: :login })).html_safe
    .row
      %a.btn.fb-btn.gtm-home-action{ href: 'https://www.facebook.com/groups/588161717946822/', target: '_blank', 'data-action' => :fb_group }
        %i.fa.fa-facebook-square
        = t('home.index.button.join')
/- if current_user
- @actions.each do |a, l|
  = render partial: 'welcome/action', locals: { action: a, link: l }
