.jumbotron
  %h1= t('home.index.title')
  - if current_user
    %p= t("home.index.body.#{current_user.status}")
  - else
    %p= t('home.index.body.not_logged', login: link_to(t('home.index.body.login'), new_user_session_path)).html_safe

  .text-center
    %hr
    %img{ src: asset_path('images/cheidelacoriera_logo.png') }
    %hr
    .row
      %a.btn.fb-btn{ href: 'https://www.facebook.com/groups/588161717946822/', target: '_blank' }
        %i.fa.fa-facebook-square
        = t('home.index.button.join')
- if current_user
  - @actions.each do |a, l|
    = render partial: 'welcome/action', locals: { action: a, link: l }
