- @title = 'Regolamento'

- provide :head do
  :css
    .rule-par {
      font-size: 14px;
      text-align: justify;
    }


- provide :subtitle do
  %p.medium-paragraph
    Regolamento di Adesione alle Trasferte e Norme di Comportamento

  %ul
    %li= link_to('Premessa', '#premessa')
    %li= link_to("Regole per l'iscrizione alla trasferta", '#iscrizione')
    %li= link_to('Norme di comportamento durante la trasferta', '#comportamento')

.row#premessa
  .col-sm-12.features.section-description.wow.fadeIn
    %h3 Premessa
    .divider-1
      .line
      .text-center
        = link_to('indice', '#flash')
.row
  .col-sm-12.features-box.wow.fadeInLeft
    %p.rule-par Il gruppo Chei de la Coriera è  aperto a tutti gli Atalantini che seguono con passione la squadra in trasferta.
    %p.rule-par
      La finalità del gruppo è quello di condividere la passione, il divertimento che porta con sé una trasferta vissuta in compagnia di altri
      fratelli Atalantini ed il sostegno alla squadra in qualsiasi partita ovunque essa sia.
    %p.rule-par
      Possono partecipare tutti, sia chi ha a tessera del tifoso sia chi non ce l'ha, senza distinzione. Con l'obiettivo di rendere l'organizzazione più
      efficiente possibile, per non responsabilizzare gli organizzatori di comportamenti inadeguati verso cose o persone da parte dei partecipanti, per rendere il prezzo di partecipazione
      più equo possibile e per garantire il rispetto reciproco verso ogni partecipante, il gruppo ha definito una serie di norme auto-comportamentali e regole di iscrizione che ogni aderente alla
      trasferta accetta tacitamente e senza preclusioni nel momento dell'iscrizione.
    %p.rule-par Il partecipante che non si atterà ad una o più regole, verrà escluso dalla partecipazione di qualsiasi evento organizzato dal gruppo.

.row#iscrizione
  .col-sm-12.features.section-description.wow.fadeIn
    %h3 Regole per l'iscrizione alla trasferta
    .divider-1
      .line
      .text-center
        = link_to('indice', '#flash')
.row
  .col-sm-12.features-box.wow.fadeInLeft
    .col-sm-6
      %p.rule-par
        1. Ogni partecipante, per iscriversi alla trasferta, deve registrarsi al sito e comunicare sia per se stesso che per ogni persona che iscrive con sé:
        nome, cognome, indirizzo mail, numero cellulare
      %p.rule-par
        2. L'iscrizione e' vincolante. Una volta iscritti, gli organizzatori invieranno , successivamente al controllo dei dati, una mail di presa in carico dell'iscrizione e,
        successivamente al raggiungimento del numero minimo di partecipanti, gli organizzatori invieranno la conferma definitiva dell'adesione alla trasferta.
        Il partecipante si dovrà presentare nel luogo e all'orario indicato nella comunicazione della specifica trasferta.
      %p.rule-par
        3. Se l'iscritto non può partecipare per sopraggiunti motivi personali successivi alla conferma di iscrizione, è tenuto a dare comunicazione via mail agli organizzatori
        all'indirizzo cheidelacoriera@gmail.com  con un preavviso minimo di 3 giorni dalla data dell'evento.
      %p.rule-par
        4. Se il pre avviso dovesse risultare inferiore a tale termine, l'iscritto incorre ad una penale da versare nelle casse collettive del gruppo pari al costo di partecipazione della trasferta;
        le modalità di versamento verranno comunicate dagli organizzatori ai diretti interessati.  Può essere inoltre escluso dalle successive partecipazioni a discrezione
        arbitraria degli organizzatori che valuteranno, tra i principali parametri, la reiterazione del comportamento del soggetto.
      %p.rule-par
        5. Qualora l'iscritto o uno dei suoi iscritti non si presentasse senza aver fornito nessuna comunicazione agli organizzatori , verrà automaticamente escluso
        da ogni successiva partecipazione alle attività organizzate dal gruppo.
      %p.rule-par 6. Eventuali sostituzioni di persone sono accettate previa autorizzazione da parte degli organizzatori. La sostituzione deve essere richiesta solo via mail.
      %p.rule-par
        7. Il partecipante può segnalare nelle note dell'iscrizione la preferenza di assegnazione ( "sullo stesso bus di ..." , sul bus numero "x" etc. ),
        ciò non rende comunque vincolante l'assegnazione del posto con la segnalazione indicata.
    .col-sm-6
      %p.rule-par
        8. Si fa notare che queste segnalazioni rallentano e complicano il lavoro degli organizzatori , i quali per ovvi motivi di disponibilità posti non possono gestire  tutte le segnalazioni.
      %p.rule-par
        9. Le modalità di pagamento della quota di partecipazioni verranno indicate nella comunicazione di ogni singola trasferta. Il pagamento quindi, a seconda della trasferta potrà essere
        effettuato a bordo bus o in anticipo con le modalità indicate dagli organizzatori nella mail di conferma iscrizione.
      %p.rule-par
        10. Il mancato pagamento della quota di partecipazione autorizzerà gli organizzatori o il referente presente sul mezzo di trasporto assegnato per la trasferta, ad annullare la partecipazione
        dell'iscritto con la seguente esclusione da qualsiasi successiva partecipazione alle trasferte organizzate dal gruppo.
      %p.rule-par
        11. Il partecipante alla trasferta dovrà provvedere in autonomia all'acquisto del biglietto della partita che si andrà ad assistere. Si ricorda che in
        certi casi le Autorità verificano che tutti i passeggeri siano in possesso del tagliando di accesso allo stadio anche direttamente sul mezzo di trasporto
        e/o prima di arrivare nello stadio di destinazione.
      %p.rule-par
        12. Il negato accesso allo stadio per motivi di mancanza o mal conservazione del biglietto o per altri motivi individuali , non dà diritto al partecipante
        di ottenere alcun rimborso della quota di partecipazione della trasferta.
      %p.rule-par
        13. Il partecipante deve essere provvisto del proprio documento di identità secondo la normative vigenti in Italia o del Paese ospitante ( e/o della tessera del tifoso
        qualora l'Osservatorio Nazionale sulle Manifestazione Sportive abbia applicato questa restrizione per la trasferta specifica )
      %p.rule-par
        14. L'iscritto alla trasferta autorizza gli organizzatori a consegnare i dati personali comunicati al momento dell'iscrizione, qualora, per motivi di sicurezza pubblica,
        le Autorità preposte richiedano agli organizzatori l'elenco dei partecipanti alla trasferta.

.row#comportamento
  .col-sm-12.features.section-description.wow.fadeIn
    %h3 Norme di comportamento durante la trasferta
    .divider-1
      .line
      .text-center
        = link_to('indice', '#flash')
.row
  .col-sm-12.features-box.wow.fadeInLeft
    .col-sm-6
      %p.rule-par
        1. Ogni partecipante alla trasferta si assume la piena ed unica responsabilità dei propri comportamenti verso cose e persone in ottemperanza alle vigenti leggi Italiane,
        del Paese ospitante o alle norme della Società Sportiva ospitante e ,manleva la responsabilità degli organizzatori rispetto ai propri comportamenti non in regola
        e potenzialmente sanzionabili dalle Autorità competenti
      %p.rule-par
        2. Il partecipante che si rendesse responsabile di danni verso cose e persone, verrà automaticamente escluso dalla partecipazione alle trasferte del gruppo
        a tempo indeterminato. Tale comportamento autorizza gli organizzatori (o referenti autorizzati dagli organizzatori) a sospendere anche in corso di svolgimento,
        la partecipazione alla trasferta; per cui il partecipante dovrà gestire in autonomia in proprio trasporto a destinazione o rientro. Il partecipante che
        si rendesse protagonista di tali comportamenti sarà l’unico responsabile a cui imputare eventuali rimborsi economici ai legittimi proprietari del bene danneggiato
        o alla persone a cui è stato arrecato danno fisico e/o morale.
      %p.rule-par
        3. Sui mezzi di trasporto è assolutamente vietato fumare, pena la sospensione del servizio in corso di svolgimento per il trasgressore,
        il quale dovrà gestire in autonomia il proprio trasporto a destinazione o rientro.
    .col-sm-6
      %p.rule-par
        4. I beni ed oggetti trasportati durante la trasferta non sono sotto la custodia ne degli organizzatori ne dei fornitori del servizio di trasporto,
        pertanto gli organizzatori sono possono essere ritenuti responsabili in alcun modo dello smarrimento , rottura o furto di tale beni.
      %p.rule-par 5. I mezzi di trasporto devono essere lasciati puliti così come lo sono ad inizio servizio. Ogni partecipante dovrà prendersi cura della pulizia del proprio posto.
      %p.rule-par
        6. Gli organizzatori e o referenti autorizzati dagli organizzatori hanno il diritto di valutare il comportamento dei partecipanti e, qualora venisse
        riscontrato un comportamento non consono alle norme di comportamento o al senso civile di reciproco rispetto con gli altri partecipanti all’evento,
        possono intervenire sospendendo la partecipazione al servizio in corso di svolgimento e all’adesione alle successive trasferte.

