.col-md-4.col-sm-6.col-xs-12.text-center
  .panel.panel-default.event-panel
    .panel-body
      %small= event.competition
      %p= I18n.l(event.date, format: :long)
      %hr
      .row
        .col-md-5.right.event-team
          %img.team-logo{ src: event.home_team.image_url, alt: event.home_team.name }
          %p= event.home_team.name
        .col-md-2.event-score
          = event.score.to_s.blank? ? event.time.strftime('%H:%M') : event.score
        .col-md-5.left.event-team
          %img.team-logo{ src: event.away_team.image_url, alt: event.away_team.name }
          %p= event.away_team.name
    .panel-footer.event-footer
      - if current_user
        - if event.booked_by?(current_user.id)
          = link_to(t('events.buttons.booked'), details_event_path(event.id), class: 'btn btn-default', id: 'booked')
        - elsif event.bookable?
          = link_to(t('events.buttons.book_now'), details_event_path(event.id), class: 'btn btn-primary', id: 'book-now')
        - else
          = link_to(t('events.buttons.show'), details_event_path(event.id), class: 'btn btn-primary')
        - if event.any_trip? && current_user.admin?
          = link_to(t('events.buttons.fans_list'), reservations_event_path(event.id), class: 'btn btn-default')
      - else
        = link_to(t('home.index.body.login'), new_user_session_path, class: 'gtm-home-action btn btn-primary', data: { action: :login })
