.col-md-4.col-sm-6.col-xs-12.text-center
  .panel.panel-default
    .panel-body
      %small= event.competition
      %p= I18n.l(event.date, format: :long)
      %hr
      .row
        .col-md-5.right.event-team
          %img.team-logo{ src: event.home_team.image_url, alt: event.home_team.name }
          %p= event.home_team.name
        .col-md-2.event-score
          = event.score.to_s.blank? ? event.time.strftime('%H:%M') : event.score
        .col-md-5.left.event-team
          %img.team-logo{ src: event.away_team.image_url, alt: event.away_team.name }
          %p= event.away_team.name
    .panel-footer.event-footer
      - if event.any_trip?
        = link_to(t('events.buttons.show'), details_event_path(event.id), class: 'btn btn-primary')
        - if event.bookable?
          %button.btn.btn-primary#book-now= t('events.buttons.book_now')
        - if current_user.admin?
          %button.btn.btn-default= t('events.buttons.fans_list')
