- has_post_url = @event.poster_url.nil?
- md_size = has_post_url ? 12 : 6

- provide :head do
  :css
    .form-control-inline {
      display:block;
      height:34px;
      margin: 8px auto;
    }
    .form-control-inline input {
      width:85%;
      heigth:inherit;
      border: 1px solid #ccc
      border-radius:4px;
      font-size: 14px;
    }
    .form-control-inline button {
      width:15%;
      heigth:inherit;
    }

- if current_user
  .row
    .col-sm-12.features-box.wow.fadeInLeft
      .features-box{ class: "col-sm-#{md_size}" }
        - unless @event.notes.nil?
          .nicEdit-main
            = sanitize @event.notes.html_safe, scrubber: EventScrubber.new
        %hr
          #reservation-form
        %hr
      - unless has_post_url
        .col-sm-6.features-box
          .event-detail-item
            %img.img-responsive{ src: @event.poster_url }
    - @event.albums.each do |al|
      .col-sm-6.features-box.wow.fadeInLeft
        = AlbumizrBuilder.build(al)
- else
  .row
    .col-sm-12.features-box.wow.fadeInLeft
      .text-center
        %p Per continuare la navigazione è necessario essere iscritti al sito.
        = link_to(t('devise.sessions.new'), new_user_session_path, class: 'btn btn-primary gtm-home-action', data: { action: :login_match })

:javascript
  $(function(){
    #{current_user ? 'renderUserForm();' : ''}
  })

  function renderUserForm() {
    $.ajax({
      method: 'GET',
      url: '#{user_form_reservations_path}',
      data: {
        event_id: #{@event.id}
      },
      success: function(data){
        $('#reservation-form').html(data);
      }
    })
  }
