- @title = [@models_label].join(' - ')

/- content_for(:tools, render('search')) if search_support?

/ - content_for(:actions, render('actions_index'))

.row
  .alert{ align: 'center' }
    .col-md-12
      %h3= @event
      %hr
    .col-md-6.col-sm-12
      .col-md-6.col-sm-6
        %span= t('activerecord.attributes.event.bookable_from')
      .col-md-6.col-sm-6
        %span= I18n.l(@event.bookable_from)
      .col-md-6.col-sm-6
        %span= t('activerecord.attributes.event.requested_seats')
      .col-md-6.col-sm-6
        %span= number_with_delimiter(@event.requested_seats)
    .col-md-6.col-sm-12
      .col-md-6.col-sm-6
        %span= t('activerecord.attributes.event.bookable_until')
      .col-md-6.col-sm-6
        %span= I18n.l(@event.bookable_until)
      .col-md-6.col-sm-6
        %span= t('activerecord.attributes.event.confirmed_seats')
      .col-md-6.col-sm-6
        %span= number_with_delimiter(@event.confirmed_seats)
    .col-md-12
      = link_to(t('events.buttons.approve_all'), approve_all_reservations_path(id: params[:id], event_id: @event.id), class: %w[btn btn-primary])
      %hr
.row
  = crud_datatable(@model_name, *@datatable_columns)

:javascript
  $(function(){
    initializeCrudTable(
      '#{datatable_reservations_event_path(@event.id)}',
      '##{@model_name}-table',
      '.#{@model_name}-index-buttons'
    )
  })
