- @title ||= ti(:title, model: full_entry_label).html_safe
- content_for(:actions, render('actions_edit'))

- provide :head do
  :css
    .form-control-inline {
      display:block;
      height:34px;
      margin: 8px auto;
    }
    .form-control-inline input {
      width:85%;
      heigth:inherit;
      border: 1px solid #ccc
      border-radius:4px;
      font-size: 14px;
    }
    .form-control-inline button {
      width:15%;
      heigth:inherit;
    }

.row
  .col-sm-12.features-box.wow.fadeInLeft
    .jumbotron
      = simple_form_for(@reservation, method: :put, url: reservation_path) do |f|
        = f.error_notification
        .form-inputs
          .col-md-12.col-sm-12.col-xs-12
            = f.input :total_seats, readonly: true
            = f.input :status, collection: Reservation::STATUSES, include_blank: false
            %label Aggiungi partecipante
            .form-inline
              = f.input :fan_last_name, as: :fake, label: false, placeholder: 'Cognome', input_html: { value: current_user.last_name }
              = f.input :fan_first_name, as: :fake, label: false, placeholder: 'Nome', input_html: { value: current_user.first_name }
              %button.btn.btn-primary#add-guest{ type: :button } +
            %small.text-danger#guest-error
            = f.input :fan_names, as: :remove_array, label: 'Elenco Partecipanti', readonly: true
            = f.input :phone_number
            = f.input :event_id, collection: Event.include_all.order(:date).bookable, include_blank: false
            = f.input :user_id, collection: User.order(:email), include_blank: false
        .btn-group{ role: :group }
          = f.button :submit, 'Save', class: 'btn-primary'
          = link_to('Back', reservation_path(@reservation.id), class: 'btn btn-default')

:javascript

  $(function(){
    initializeAddGuest();
  })

  function initializeAddGuest(){
    var inputSelector = 'input[name="reservation[fan_names][]"]';
    var removeButton = $('.remove_fan_names_button');
    var wrapper = $('.reservation_fan_names');

    var addButton = $('#add-guest');
    var removeButtonHtml = '<button type="button" class="remove_fan_names_button btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i></button>';

    var emptyInput = '<div class="form-control-inline"><input class="text optional readonly" readonly="readonly" name="reservation[fan_names][]" type="text"></div>';

    var min_field_size  = 6;
    var max_fields      = 100;

    var x = $(inputSelector).length; //initial text box count

    function guestErrorMsg(msg){
      $('#guest-error').text(msg);
    }

    function existingGuests(){
      var guests = [];
      $('input[name="reservation[fan_names][]"]').map(function(){ guests.push($(this).val()) });
      return guests;
    }

    function extractGuestName(){
      var guestLastName = $.trim($('input#fan_last_name').val());
      var guestFirstName = $.trim($('input#fan_first_name').val());

      if((guestLastName + guestFirstName).length < min_field_size){
        guestErrorMsg("Il nome di un partecipante deve essere almeno " + min_field_size + " caratteri");
        return false;
      } else {
        return guestLastName + ' | ' + guestFirstName;
      };
    }

    $(addButton).click(function(e){ //on add input button click
        if(x < max_fields){ //max input box allowed
          var guestName = extractGuestName();
          if (guestName) {
            var guests = existingGuests();
            if ($.inArray(guestName, guests) < 0){
              x++; //text box increment
              $(emptyInput).appendTo(wrapper).append(removeButtonHtml);
              $(inputSelector).last().val(guestName);
              guestErrorMsg('');
              $('input#fan_last_name').val('');
              $('input#fan_first_name').val('');
            } else {
              guestErrorMsg(guestName + " è già presente nell'elenco dei partecipanti");
            }
          }
        } else {
          guestErrorMsg(
            "Hai raggiunto il limite massimo di partecipanti iscrivibili a questa trasferta (" +
            max_fields + ")"
           );
        }
        return;
    });

    $(wrapper).on('click', '.remove_fan_names_button',function(){ //user click on remove text
        $(this).parent('.form-control-inline').remove();
        x--;
    });
  }
