- @title ||= ti(:title, model: models_label(false))
- content_for(:actions, index_action_link)

- provide :head do
  :css
    .form-control-inline {
      display:block;
      height:34px;
      margin: 8px auto;
    }
    .form-control-inline input {
      width:85%;
      heigth:inherit;
      border: 1px solid #ccc
      border-radius:4px;
      font-size: 14px;
    }
    .form-control-inline button {
      width:15%;
      heigth:inherit;
    }

.row
  .col-sm-12.features-box.wow.fadeInLeft
    .jumbotron
      = simple_form_for(@reservation, method: :post, url: reservations_path) do |f|
        = f.error_notification
        .form-inputs
          .col-md-12.col-sm-12.col-xs-12
            = f.input :total_seats, readonly: true
            = f.input :status, collection: Reservation::STATUSES, include_blank: false
            = f.input :fan_names, as: :array
            = f.input :phone_number
            = f.input :event_id, collection: Event.include_all.order(:date).bookable.upcoming, include_blank: false
            = f.input :user_id, collection: User.order(:email).all, include_blank: false
        .btn-group{ role: :group }
          = f.button :submit, 'Save', class: 'btn-primary'
          = link_to('Back', reservations_path, class: 'btn btn-default')

:javascript

  $(function(){
    initializeFanNames();
  })

  function initializeFanNames(){
    var inputSelector = 'input[name="reservation[fan_names][]"]';
    var addButton = $('.add_fan_names_button');
    var removeButton = $('.remove_fan_names_button');
    var wrapper = $('.reservation_fan_names');

    var addButtonHtml = '<button type="button" class="add_fan_names_button btn btn-primary">+</button>';
    var removeButtonHtml = '<button type="button" class="remove_fan_names_button btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i></button>';

    var emptyInput = '<div class="form-control-inline"><input class="text optional" name="reservation[fan_names][]" type="text"></div>';


    var min_field_size  = 6;
    var max_fields      = 100;

    var x = $(inputSelector).length; //initial text box count

    function inputFromBtn(btn, inputSelector){
      return $(btn).closest('.form-control-inline').find(inputSelector);
    }

    $(addButton).click(function(e){ //on add input button click
        var clickedInput = inputFromBtn($(this), inputSelector);
        if($(clickedInput).val().length < min_field_size){
          alert("Il nome di un partecipante deve essere almeno " + min_field_size + " caratteri");
          return;
        };

        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(inputSelector).last().after(removeButtonHtml);
            $(emptyInput).appendTo(wrapper).append(addButton);
        } else {
          alert("Hai raggiunto il limite massimo di partecipanti iscrivibili a questa trasferta");
          return;
        }
    });

    $(wrapper).on('click', '.remove_fan_names_button',function(){ //user click on remove text
        $(this).parent('.form-control-inline').remove();
        x--;
    });

  }
