.row
  %p{ class: "status-#{@reservation.status}" }= t("reservations.show.status.#{@reservation.status}")
  %p= t('reservations.show.fans')
  %ul
    - @reservation.fan_names.each do |n|
      %li= n
  %p= t('reservations.show.phone_number', number: @reservation.phone_number)
