.row
  / = react_component('ReservationForm', {schema: {}, formData: {}, uiSchema: {}, maxFans: 3}, {prerender: true})
  = react_component('HelloWorld', {greeting: 'Ciao'}, {prerender: true})
.row
  %p
    Per questa partita potrai prenotare un massimo di
    = @event.pax
    posti
  %p
    Per fini organizzativi, ti invitiamo ad indicare il Nome e il Cognome di ciascun partecipante che si unirà alla trasferta
.row
  = simple_form_for(@reservation, method: :post, url: form_create_reservations_path, remote: true, authenticity_token: true) do |f|
    = f.error_notification
    .form-inputs
      = f.input :event_id, as: :hidden
      = f.input :phone_number, input_html: { value: current_user.phone_number }
      = f.input :fan_names, as: :remove_array, label: 'Elenco Partecipanti', readonly: true
      %p
        %label Aggiungi partecipante
      %small.text-danger#guest-error
      %small.text-success#guest-success
      .form-inline
        = f.input :fan_last_name, as: :fake, label: false, placeholder: 'Cognome', input_html: { value: current_user.last_name }
        = f.input :fan_first_name, as: :fake, label: false, placeholder: 'Nome', input_html: { value: current_user.first_name }
        %button.btn.btn-primary#add-guest{ type: :button } Aggiungi Partecipante
      = f.input :notes
      = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
    .btn-group{ role: :group }
      = f.button :submit, t('events.buttons.book'), class: 'btn-primary'

.row
  %br
.row#react-reservation-form

= javascript_pack_tag 'api/reservation_form.js'

:javascript
  $(function(){
    initializeForm();
  })

  function initializeForm(){

    $("#new_reservation").on("ajax:success", function(xhr, data, status){
      $("#reservation-form").html(data);
    });
    initializeAddGuest();
    updateFanNamesLabel();
  }

  function updateFanNamesLabel(){
    var fansCount = $('input[name="reservation[fan_names][]"]').length;
    $("label[for='reservation_fan_names']").text( "Partecipanti Aggiunti: " + fansCount)
  }

  function clearGuestInput(){
    $('input#fan_last_name').val('');
    $('input#fan_first_name').val('');
  }

  function initializeAddGuest(){
    var inputSelector = 'input[name="reservation[fan_names][]"]';
    var removeButton = $('.remove_fan_names_button');
    var wrapper = $('.reservation_fan_names');

    var addButton = $('#add-guest');
    var removeButtonHtml = '<button type="button" class="remove_fan_names_button btn btn-default"><i class="fa fa-trash-o" aria-hidden="true"></i></button>';

    var emptyInput = '<div class="form-control-inline"><input class="text optional readonly" readonly="readonly" name="reservation[fan_names][]" type="text"></div>';

    var min_field_size  = 6;
    var max_fields      = #{@event.pax};

    var x = $(inputSelector).length; //initial text box count

    function guestErrorMsg(msg){
      $('#guest-error').text(msg);
    }

    function guestSuccessMsg(msg){
      $('#guest-success').text(msg);
    }

    function existingGuests(){
      var guests = [];
      $('input[name="reservation[fan_names][]"]').map(function(){ guests.push($(this).val()) });
      return guests;
    }

    function extractGuestName(){
      var guestLastName = $.trim($('input#fan_last_name').val());
      var guestFirstName = $.trim($('input#fan_first_name').val());

      if (guestLastName.length < 1) {
        guestErrorMsg("Per favore indica il Cognome del partecipante");
        return false;
      }
      else if (guestFirstName.length < 1) {
        guestErrorMsg("Per favore indica il Nome del partecipante");
        return false;
      }
      else if((guestLastName + guestFirstName).length < min_field_size){
        guestErrorMsg("Il nome di un partecipante deve essere almeno " + min_field_size + " caratteri");
        return false;
      } else {
        return guestLastName + ' | ' + guestFirstName;
      };
    }

    $(addButton).click(function(e){ //on add input button click
        resetGuestMsg();
        if(x < max_fields){ //max input box allowed
          var guestName = extractGuestName();
          if (guestName) {
            var guests = existingGuests();
            if ($.inArray(guestName, guests) < 0){
              x++; //text box increment
              $(emptyInput).appendTo(wrapper).append(removeButtonHtml);
              $(inputSelector).last().val(guestName);
              clearGuestInput();
              updateFanNamesLabel();
              guestSuccessMsg(guestName + " è stato aggiunto all'elenco dei partecipanti");
            } else {
              guestErrorMsg(guestName + " è già presente nell'elenco dei partecipanti");
              clearGuestInput();
            }
          }
        } else {
          guestErrorMsg(
            "Hai raggiunto il limite massimo di partecipanti iscrivibili a questa trasferta (" +
            max_fields + ")"
           );
        }
        return;
    });

    $(wrapper).on('click', '.remove_fan_names_button',function(){ //user click on remove text
        $(this).parent('.form-control-inline').remove();
        x--;
        updateFanNamesLabel();
    });

    function resetGuestMsg(){
      guestErrorMsg('');
      guestSuccessMsg('');
    }
  }
