
.row
  = simple_form_for(@reservation, method: :post, url: reservations_path, remote: true, authenticity_token: true) do |f|
    = f.error_notification
    .form-inputs
      = f.input :event_id, as: :hidden
      = f.input :phone_number, input_html: { value: current_user.phone_number }
      = f.input :fan_names, as: :array
      %button.add-fan-button{ type: :button} Add additional fan
      = f.input :notes
    .btn-group{ role: :group }
      = f.button :submit, t('simple_form.buttons.save'), class: 'btn-primary'

:javascript
  $(function(){
    initializeForm();
  })

  function initializeForm(){
    // $("#reservation_fan_ids").multiSelect();
    $("#new_reservation").on("ajax:success", function(xhr, data, status){
      $("#reservation-form").html(data);
    });
  }
