%p Ciao #{@user.full_name},

%p
  Ti confermiamo che la tua prenotazione per la partita
  = link_to(" #{@event} ", details_event_url(@event.slug), target: '_blank', rel: 'noopener noreferrer')
  è stata accettata.
  %br/
%p
  Riceverai tutti i dettagli relativi alla trasferta (e.s. numero di bus, istruzioni particolari per il parcheggio etc.), al più tardi un giorno prima della partenza.
%hr

%p= t('reservations.show.fans')
%ul
  - @reservation.fan_names.each do |n|
    %li= n
%p= t('reservations.show.phone_number', number: @reservation.phone_number)

- if @reservation.stop.present?
  %p Punto di partenza: #{@reservation.stop}

- if @event.poster_url
  %hr
  %a{ href: @event.poster_url, target: '_blank', rel: 'noopener noreferrer' }
    %img.img-logo{ src: @event.poster_url }

%p
  Ti ricordiamo che la partecipazione alla trasferta comporta l'accettazione del nostro
  = link_to(' regolamento', 'https://www.cheidelacoriera.com/regolamento?gtm_source=email&gtm_campaign=activation', target: '_blank', rel: 'noopener noreferrer')


