Gentile Staff,


Ti informiamo che la disponibilità per la partita #{@event} è esaurita.

Posti Totali: #{@event.total_seats}
Prenotazioni Confermate: #{@event.confirmed_seats}
Prenotazioni In Sospeso: #{@event.requested_seats}
Prenotazioni Rifiutate: #{@event.rejected_seats}
Posti Disponbili: #{@event.available_seats}
PAX: #{@event.pax}

Collegati al sito per modificare i posti totali o gestire le prenotazioni in attesa.
