%p Gentile #{@user.full_name},

%p
  Ti confermiamo di aver ricevuto la tua prenotazione per la partita
  = link_to(" #{@event}", details_event_url(@event.id), target: '_blank')
  !
  %br/
  Non appena avremo raggiunto il numero minimo di partecipanti per assicurare il servizio, riceverai una mail di conferma contenente tutti i dettagli.
%hr

%p= t('reservations.show.fans')
%ul
  - @reservation.fan_names.each do |n|
    %li= n
%p= t('reservations.show.phone_number', number: @reservation.phone_number)

- if @event.poster_url
  %hr
  %a{ href: @event.poster_url, target: '_blank' }
    %img.img-logo{ src: @event.poster_url }

%p
  Ti ricordiamo che la partecipazione alla trasferta comporta l'accettazione del nostro
  = link_to(' regolamento', 'http://www.cheidelacoriera.com/regolamento?gtm_source=email&gtm_campaign=activation', target: '_blank')


