- post_url = detail_post_url(@post.slug)
- provide :head do
  :css
    .img-post-left {
      float:left;
      width:200px;
      height:auto;
      margin-right: 10px;
    }

    .right {
      text-align:right;
      margin-right: 14px;
    }

    @media (max-width: 767px) {
      #share-buttons {
        padding: 10px 0px;
      }
      .img-post-left {
        width:auto;
        height:auto;
        margin:auto;
        padding: 10px;
      }
    }
.row
  .text-center#share-buttons
    %a.email{ href: "mailto:?Subject=#{@post.title}&Body=#{post_url}" }
    %a.facebook{ href: "http://www.facebook.com/sharer.php?u=#{post_url}", target: '_blank' }
    %a.whatsapp{ href: "https://api.whatsapp.com/send?text=#{post_url}", target: '_blank' }

.row{ id: @post.slug }
  .col-sm-12.features-box.wow.fadeInLeft
    .features-box
      .right
        %small= @post.date ? I18n.l(@post.date) : nil
      .content
        - unless @post.image_url.nil?
          %br/
          %img.img-responsive{ src: @post.image_url, alt: @post.slug }
          %br/
        - unless @post.content.nil?
          .nicEdit-main
            = sanitize @post.content.html_safe, scrubber: EventScrubber.new
    %hr
