- @title ||= ti(:title, model: models_label(false))
- content_for(:actions, index_action_link)

= simple_form_for(@user, method: :post, url: users_path) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email
    = f.input :role, collection: User::ROLES, include_blank: false
    = f.input :status, collection: User::STATUSES, include_blank: false
    = f.input :password, required: false
    = f.input :password_confirmation, required: false
  .btn-group{ role: :group }
    = f.button :submit, t('simple_form.buttons.save'), class: 'btn-primary'
    = link_to(t('simple_form.buttons.back'), users_path, class: 'btn btn-default')
