/ [if lt IE 9]
  = javascript_include_tag 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'
  = javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'

/ Core Scripts
= javascript_include_tag 'jquery.js'
= javascript_include_tag 'jquery-ujs.js'

= javascript_include_tag 'bootstrap.min.js'

= javascript_include_tag 'bootstrap-datepicker/bootstrap-datepicker.js'
= javascript_include_tag 'bootstrap-datepicker/locales/bootstrap-datepicker.it.min'

= javascript_include_tag 'jquery.timepicker.min.js'
