%nav.navbar.navbar-cheidelacoriera.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ 'aria-expanded' => false, 'data-target' => '#navbar-collapse-1', 'data-toggle' => 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.navbar-logo{ href: root_path }
        %img{ src: asset_path('images/cheidelacoriera_logo.png'), alt: 'CheiDeLaCoriera' }
    .navbar-collapse.collapse#navbar-collapse-1
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li.dropdown
            %a.admin-dropdown.dropdown-toggle{ 'aria-expanded' => false, 'data-toggle' => 'dropdown', href: 'javascript:;' }
              Admin
              %span.fa.fa-angle-down
            %ul.dropdown-menu
              %li= link_to 'Users', users_path
              %li= link_to 'Teams', teams_path
              %li= link_to 'Competitions', competitions_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.user-profile.dropdown-toggle{ 'aria-expanded' => false, 'data-toggle' => 'dropdown', href: 'javascript:;' }
              %i.fa.fa-user.hidden-xs
              = current_user.email
              %span.fa.fa-angle-down
            %ul.dropdown-menu
              %li= link_to('Edit Password', edit_user_registration_path)
              %li= link_to('Log Out', destroy_user_session_path, method: :delete)
        - else
          %li= link_to('Login', new_user_session_path)
