%nav.navbar.navbar-cheidelacoriera.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ 'aria-expanded' => false, 'data-target' => '#navbar-collapse-1', 'data-toggle' => 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.navbar-logo{ href: root_path }
        %img{ src: asset_path('images/cheidelacoriera_logo.png'), alt: 'CheiDeLaCoriera' }
    .navbar-collapse.collapse#navbar-collapse-1
      %ul.nav.navbar-nav
        - if user_signed_in?
          - if current_user.admin?
            %li.dropdown.admin-dropdown
              %a.dropdown-toggle{ 'aria-expanded' => false, 'data-toggle' => 'dropdown', href: 'javascript:;' }
                Admin
                %span.fa.fa-angle-down
              %ul.dropdown-menu
                %li{ navbar_intro(:users) }= link_to t('navbar.admin.users'), users_path
                %li{ navbar_intro(:teams) }= link_to t('navbar.admin.teams'), teams_path
                %li{ navbar_intro(:competitions) }= link_to t('navbar.admin.competitions'), competitions_path
                %li{ navbar_intro(:events) }= link_to t('navbar.admin.events'), events_path
                %li{ navbar_intro(:transport_means) }= link_to t('navbar.admin.transport_means'), transport_means_path
                %li{ navbar_intro(:trips) }= link_to t('navbar.admin.trips'), trips_path
                %li#navbar-demo
                  %a{ href: 'javascript:;' }
                    %i.fa.fa-question-circle
                    = t('navbar.admin.demo')
          - if current_user.active?
            %li= link_to t('navbar.user.fans'), fans_path
            %li.dropdown.events-dropdown
              %a.dropdown-toggle{ 'aria-expanded' => false, 'data-toggle' => 'dropdown', href: 'javascript:;' }
                = t('activerecord.models.event.other')
                %span.fa.fa-angle-down
              %ul.dropdown-menu
                %li= link_to t('navbar.events.upcoming'), upcoming_events_path
                %li= link_to t('navbar.events.index'), all_events_path
      %ul.nav.navbar-nav.navbar-right
        - unless I18n.locale == :en
          %li= link_to 'English', locale: :en
        - unless I18n.locale == :it
          %li= link_to 'Italiano', locale: :it
        - if user_signed_in?
          %li.dropdown
            %a.user-profile.dropdown-toggle{ 'aria-expanded' => false, 'data-toggle' => 'dropdown', href: 'javascript:;' }
              %i.fa.fa-user.hidden-xs
              = current_user.email
              %span.fa.fa-angle-down
            %ul.dropdown-menu
              %li= link_to t('navbar.session.edit_password'), edit_user_registration_path
              %li= link_to t('navbar.session.logout'), destroy_user_session_path, method: :delete
        - else
          %li= link_to t('navbar.session.login'), new_user_session_path

- if user_signed_in?
  - if current_user.admin?
    :javascript
      $(function(){
        $('#navbar-demo').click(function(e){
          e.stopPropagation();
          $('.admin-dropdown').on('hide.bs.dropdown', function(){ return false });
          introJs().onexit(function() {
            $('.admin-dropdown').on('hide.bs.dropdown', function () {
              $('.admin-dropdown').removeClass('open');
            })
            $('#navbar-demo').remove();
          }).start();
        })
      })
