/Bootstrap core CSS
= stylesheet_link_tag 'node_modules.css'
%link{ href: 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500', rel: 'stylesheet' }/

= stylesheet_link_tag 'style.css'
= stylesheet_link_tag 'navbar_styles.css'
= stylesheet_link_tag 'share_buttons.css'
= stylesheet_link_tag 'application.css'

