/Bootstrap core CSS
= stylesheet_link_tag 'node_modules.css'
/ = stylesheet_link_tag 'css/bootstrap.css'
/ %link{ href: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext', rel: 'stylesheet' }/
%link{ href: 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500', rel: 'stylesheet' }/
/ = stylesheet_link_tag 'css/font-awesome.css'
= stylesheet_link_tag 'css/animate.css'


= stylesheet_link_tag 'css/jquery.timepicker.min.css'
= stylesheet_link_tag 'css/bootstrap-datepicker/bootstrap-datepicker.css'
= stylesheet_link_tag 'css/multiselect/multi-select.css'

= stylesheet_link_tag 'css/datatables.css'

= stylesheet_link_tag 'css/introjs.css'
= stylesheet_link_tag 'css/themes/introjs-modern.css'

= stylesheet_link_tag 'style.css'
= stylesheet_link_tag 'navbar_styles.css'
= stylesheet_link_tag 'share_buttons.css'
= stylesheet_link_tag 'application.css'

