!!! 5

%html{ lang: 'it' }
  %head
    %meta{ charset: 'utf-8' }
    %title
      = strip_tags(@title) + ' - ' if @title
      Chei De La Coriera
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'description', content: "#{@meta_description ? @meta_description : 'Il sito delle Trasferte dell\'Atalanta in Italia e nel mondo. ' + @title}" }
    = csrf_meta_tag

    = render partial: 'layouts/stylesheets'
    / = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    / = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = render partial: 'layouts/javascripts'

    = favicon_link_tag
    / = favicon_link_tag '/apple-touch-icon.png',
    /                    rel: 'apple-touch-icon',
    /                    type: 'image/png'
    / = favicon_link_tag '/apple-touch-icon-72x72.png',
    /                    rel: 'apple-touch-icon',
    /                    type: 'image/png',
    /                    sizes: '72x72'
    / = favicon_link_tag '/apple-touch-icon-114x114.png',
    /                    rel: 'apple-touch-icon',
    /                    type: 'image/png',
    /                    sizes: '114x114'

    = yield :head

    - if Rails.env.production?
      :javascript
        dataLayer = [];
      / Google Tag Manager
      :javascript
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PMV3DGW');
      / End Google Tag Manager

  %body
    - if Rails.env.production?
      / Google Tag Manager (noscript)
      %noscript
        %iframe#gtm-iframe{ height: '0', src: 'https://www.googletagmanager.com/ns.html?id=GTM-PMV3DGW', width: '0' }
      / End Google Tag Manager (noscript)

    = render 'layouts/nav'
    / Top content
    .top-content
      .container
        = yield :top_content if content_for?(:top_content)

    / Features
    .features-container.section-container
      .container
        #flash= render partial: 'layouts/flash', collection: %i[notice alert danger warning success], as: :level

        = render 'cookies_eu/consent_banner'
        .row
          .col-sm-12.features.section-description.wow.fadeIn
            %h1= @title
            .divider-1
              .line
            - unless @disable_subtitle
              - if content_for?(:subtitle)
                = yield :subtitle
              - else
                %p.medium-paragraph
                  Divoriamo chilometri per sfamare la nostra passione, la nostra Dea corre, ovunque la seguirem!
        - if content_for(:tools) || content_for(:actions)
          .row.actions.crud-actions
            .col-md-5
              = yield :tools
            .col-md-7
              .btn-toolbar.pull-right
                = yield :actions
        = yield
    = render 'layouts/footer'
    = javascript_tag yield(:javascripts) if content_for?(:javascripts)
