!!! 5

%html{ lang: 'it' }
  %head
    %meta{ charset: 'utf-8' }
    %title
      = strip_tags(@title) + ' - ' if @title
      CheiDeLaCoriera
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = csrf_meta_tag

    = render partial: 'layouts/stylesheets'
    / = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    / = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = render partial: 'layouts/javascripts'

    = favicon_link_tag
    / = favicon_link_tag '/apple-touch-icon.png',
    /                    rel: 'apple-touch-icon',
    /                    type: 'image/png'
    / = favicon_link_tag '/apple-touch-icon-72x72.png',
    /                    rel: 'apple-touch-icon',
    /                    type: 'image/png',
    /                    sizes: '72x72'
    / = favicon_link_tag '/apple-touch-icon-114x114.png',
    /                    rel: 'apple-touch-icon',
    /                    type: 'image/png',
    /                    sizes: '114x114'

    = yield :head

    - if Rails.env.production?
      :javascript
        dataLayer = [];
      / Google Tag Manager
      :javascript
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PMV3DGW');
      / End Google Tag Manager

  %body
    - if Rails.env.production?
      / Google Tag Manager (noscript)
      %noscript
        %iframe#gtm-iframe{ height: '0', src: 'https://www.googletagmanager.com/ns.html?id=GTM-PMV3DGW', width: '0' }
      / End Google Tag Manager (noscript)

    = render 'layouts/nav'
    .container
      #flash= render partial: 'layouts/flash', collection: %i[notice alert danger warning success], as: :level

      %h1= @title
      .row.actions.crud-actions
        .col-md-5
          = yield :tools
        .col-md-7
          .btn-toolbar.pull-right
            = yield :actions
      .row.crud-content
        #content= yield
    .footer#collapse-footer
      .container
        %span.text-muted
          &copy; kupta #{Time.zone.now.year}
        .pull-right
          %a{ 'aria-expanded' => false, 'data-toggle' => 'collapse', href: '#collapse-footer', 'aria-controls' => 'collapse-footer' }
            %span.fa.fa-chevron-circle-down
    = javascript_tag yield(:javascripts) if content_for?(:javascripts)
