!!! 5

%html
  %head
    %meta{ charset: 'utf-8' }
    %title
      = strip_tags(@title)
      \- CheiDeLaCoriera
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = csrf_meta_tag

    = render partial: 'layouts/stylesheets'
    / = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    / = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = render partial: 'layouts/javascripts'

    = favicon_link_tag
    = favicon_link_tag '/apple-touch-icon.png',
                       rel: 'apple-touch-icon',
                       type: 'image/png'
    = favicon_link_tag '/apple-touch-icon-72x72.png',
                       rel: 'apple-touch-icon',
                       type: 'image/png',
                       sizes: '72x72'
    = favicon_link_tag '/apple-touch-icon-114x114.png',
                       rel: 'apple-touch-icon',
                       type: 'image/png',
                       sizes: '114x114'

    = yield :head

  %body
    = render 'layouts/nav'
    .container
      #flash= render partial: 'layouts/flash', collection: %i[notice alert], as: :level

      %h1= @title
      .row.actions
        .col-md-5
          = yield :tools
        .col-md-7
          .btn-toolbar.pull-right
            = yield :actions
      #content= yield
    .footer
      .container
        %span.text-muted
          &copy; kupta #{Time.zone.now.year}

    = javascript_tag yield(:javascripts) if content_for?(:javascripts)
